<div class="row">    
      <div class="col-md-12">
          <form id="form_admin"  method="POST">
              {{  include('AdminBundle:Usuarios:form.html.twig', { readonly_rut: false })  }}
          </form>
      </div>
</div>
