<div class="row">    
	<div class="col-md-12">
		<form id="form_admin"  method="POST">
			<input type="hidden" name="id_usuario" value="{{ valores.id_usuario }}">
			{{  include('AdminBundle:Usuarios:form.html.twig', { readonly_rut: true })  }}
		</form>
	</div>
</div>