<div class="row text-center">    
	<div class="col-md-12">
		<div class="card-box">
		   <div class="container">
			  <div class="row">
			    <div class="col">
			      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ codigo_youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			    </div>
			  </div>
			   <div class="row">
			   	 <div class="col">
			      <iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/live_chat?is_popout=1&v={{ codigo_youtube }}&is&embed_domain={{ domain }}" width="560" height="315"></iframe>
			    </div>
			   </div>
			</div>
		</div>
	</div>
</div>