<div class="row">    
	  <div class="col-md-12">
	      <form id="form_admin"  method="POST">
	           <input type="hidden" name="id_charla" value="{{ valores.id_charla }}">
	           {{  include('AdminBundle:Charlas:form.html.twig') }} 
	      </form>
	  </div>
</div>