{% extends "::base_login.html.twig" %}
{% block javascripts %}
	<script>
		const giro = 40;
		var clockwise = false,
			$w = window.innerWidth,
			$h = window.innerHeight;

		function resizable() {
			if (window.innerWidth != $w || window.innerHeight != $h) {
				if ($w > $h) {
					$('#bg').css({
						'width': ($w * .9) + 'px',
						'height': ($w * .9) + 'px',
						'padding-bottom': '0'
					});
				} else {
					$('#bg').css({
						'width': ($h * 1.05) + 'px',
						'height': ($h * 1.05) + 'px',
						'padding-bottom': '0'
					});
				}
				$w = window.innerWidth;
				$h = window.innerHeight;
			}
		}

		$(document).ready(function() {
			var spread = giro / $('.orbit.is_el').length;

			$('.orbit.is_el').each(function() {
				$('.rotating', this).css('animation-delay', '-' + (spread * $(this).parent().children('.orbit.is_el').index(this)) + 's');
			});

			$('.orbit.is_el.rotates').each(function() {
				if (!clockwise) {
					$('.el', this).addClass('reverse');
					$('.el_inn.rotating', this).removeClass('reverse');
					clockwise = true;
				} else {
					$('.el', this).removeClass('reverse');
					$('.el_inn.rotating', this).addClass('reverse');
					clockwise = false;
				}
			});

			$('.app--loading').removeClass('app--loading');
		});
	</script>
{% endblock %}
{% block body %}
	<div class="app--loading">
		<div id="bg">
			{# <div id="bg_in">{{ bg_in|raw }}</div> #}
		</div>
		<div id="front">
			<div id="puc">{{ puc|raw }}</div>
			<div id="logo" style="box-shadow:0 0 BLACK;">
			    
			    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1885 876" style="enable-background:new 0 0 1885 876;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#2A7DE1;}
	.st1{fill:#FFFFFF;}
</style>
<g>
	<g>
		<path class="st0" d="M256.4,124.7h68.9v7.8h-59.4v48.1h46.7v7.8h-46.7v57.4h-9.5V124.7z"/>
		<path class="st0" d="M341.7,124.7h69.6v7.8h-60.1v47.2h48.7v7.8h-48.7v50.4h63.1v7.8h-72.6V124.7z"/>
		<path class="st0" d="M431.3,124.7h33.2c23.5,0,41.1,9.1,41.1,32.5v0.7c0,20.1-13.2,29.4-31.3,32l38.4,55.8h-10.5l-37.9-55.2h-23.5
			v55.2h-9.5V124.7z M465,182.9c19.5,0,31.1-7.4,31.1-25v-0.7c0-18.6-12.4-24.7-31.1-24.7h-24.2v50.4H465z"/>
		<path class="st0" d="M528.8,124.7h9.5v121h-9.5V124.7z"/>
		<path class="st0" d="M597.8,124.7h12.5l43.5,121h-9.5L631,208.6h-54.5l-13.2,37.1h-9L597.8,124.7z M579.2,201h49.1l-24.5-68.5
			L579.2,201z"/>
		<path class="st0" d="M703.9,124.7h31.5c39.9,0,60.2,25.7,60.2,59.4v1.5c0,33.5-19.3,60.1-60.6,60.1h-31.1V124.7z M734.7,237.9
			c34.4,0,51.1-21.7,51.1-52.5v-1.4c0-29.8-15.7-51.6-51.3-51.6h-21.2v105.4H734.7z"/>
		<path class="st0" d="M814.1,124.7h69.6v7.8h-60.1v47.2h48.7v7.8h-48.7v50.4h63.1v7.8h-72.6V124.7z"/>
	</g>
	<g>
		<path class="st0" d="M247.6,338.4v-1.4c0-36,26.4-61.6,62.3-61.6c36.4,0,62.3,24.5,62.3,60.9v1.4c0,36-24.7,62.3-62.4,62.3
			C271.8,400,247.6,373.8,247.6,338.4z M343.5,338.1v-1.4c0-23.5-12.5-39.6-33.7-39.6c-21,0-33.7,15.4-33.7,39.8v1.4
			c0,24.7,14.2,39.9,34,39.9C330.7,378.2,343.5,362.4,343.5,338.1z"/>
		<path class="st0" d="M386,277.1h43.3c28.6,0,46.7,11.7,46.7,36.7v0.7c0,18.3-10.7,27.9-24.9,32.2l32,51.4H454l-28.9-46.7h-11.8
			v46.7H386V277.1z M428.6,332.8c13.7,0,20.6-5.8,20.6-17.4v-0.7c0-12.4-7.4-16.6-20.6-16.6h-15.4v34.7H428.6z"/>
		<path class="st0" d="M494.3,277.1h27.6v121h-27.6V277.1z"/>
		<path class="st0" d="M542.7,277.1h78.9v21.3h-51.6v28.3h41.3v20h-41.3v30.1h54.3v21.3h-81.6V277.1z"/>
		<path class="st0" d="M637.4,277.1h31.8l46,79.7v-79.7h24.4v121h-27.4L661.8,312v86.1h-24.4V277.1z"/>
		<path class="st0" d="M783.5,298.5h-32.7v-21.3h92.9v21.3H811v99.7h-27.6V298.5z"/>
		<path class="st0" d="M873.3,277.1H909l39.3,121h-28.6l-8.3-26.9h-43.8l-8.3,26.9h-25.7L873.3,277.1z M873.5,351.8h32l-15.9-52.3
			L873.5,351.8z"/>
		<path class="st0" d="M945.9,338.4v-1.4c0-36.7,25.7-61.8,60.1-61.8c29.1,0,50.8,14.2,53.6,44h-28.1c-2-14.6-10.2-22.3-25.4-22.3
			c-19.1,0-31.3,14.9-31.3,39.9v1.4c0,25,11.5,39.6,31.5,39.6c15.1,0,25.6-7.6,27.8-23.2h26.9c-3,30-24.5,45.4-54.3,45.4
			C967.1,400,945.9,375.6,945.9,338.4z"/>
		<path class="st0" d="M1073.5,277.1h27.6v121h-27.6V277.1z"/>
		<path class="st0" d="M1115.4,338.4v-1.4c0-36,26.4-61.6,62.3-61.6c36.4,0,62.3,24.5,62.3,60.9v1.4c0,36-24.7,62.3-62.4,62.3
			C1139.6,400,1115.4,373.8,1115.4,338.4z M1211.4,338.1v-1.4c0-23.5-12.5-39.6-33.7-39.6c-21,0-33.7,15.4-33.7,39.8v1.4
			c0,24.7,14.2,39.9,34,39.9C1198.5,378.2,1211.4,362.4,1211.4,338.1z M1176,245.5h26.6l-17.1,23.5h-18.4L1176,245.5z"/>
		<path class="st0" d="M1253.7,277.1h31.8l46,79.7v-79.7h24.4v121h-27.4l-50.4-86.1v86.1h-24.4V277.1z"/>
	</g>
	<g>
		<path class="st0" d="M1437.8,344.3l-41.5-67.2h10.5l35.9,59.2l34.2-59.2h9.5l-39.1,67.4v53.6h-9.5V344.3z"/>
	</g>
	<g>
		<path class="st0" d="M253.8,446.4h41.8c29.4,0,46.2,13,46.2,38.6v0.7c0,25.6-17.8,37.7-45.4,37.7h-15.4v44h-27.2V446.4z
			 M295,504.2c13.4,0,20.5-6.4,20.5-18.4v-0.7c0-12.9-7.4-17.9-20.5-17.9h-13.9v37.1H295z"/>
		<path class="st0" d="M348.4,507.6v-1.4c0-36,26.4-61.6,62.3-61.6c36.4,0,62.3,24.5,62.3,60.9v1.4c0,36-24.7,62.3-62.4,62.3
			C372.6,569.2,348.4,543,348.4,507.6z M444.4,507.3v-1.4c0-23.5-12.5-39.6-33.7-39.6c-21,0-33.7,15.4-33.7,39.8v1.4
			c0,24.7,14.2,39.9,34,39.9C431.5,547.4,444.4,531.7,444.4,507.3z"/>
		<path class="st0" d="M477.4,529.5h26.2c1.2,10.8,5.8,19.8,23.7,19.8c12,0,20-6.6,20-16.1c0-9.6-5.1-13-22.8-15.7
			c-31-4.1-43.7-13.4-43.7-36.7c0-20.6,17.3-36,44-36c27.2,0,43.2,12.2,45.4,36.2h-25.2c-1.7-11-8.1-16.1-20.1-16.1
			c-12,0-18.1,5.6-18.1,13.7c0,8.6,3.9,12.7,22.5,15.4c29.3,3.7,44.3,11.7,44.3,36.7c0,21.5-17.6,38.6-46.2,38.6
			C494.1,569.2,478.9,553.7,477.4,529.5z"/>
		<path class="st0" d="M607.5,467.7h-32.7v-21.3h92.9v21.3h-32.7v99.7h-27.6V467.7z"/>
		<path class="st0" d="M677.9,520.1v-73.8h27.6v72.1c0,20.1,5.9,28.9,22.5,28.9c16.2,0,23.4-7.8,23.4-30v-71.1h27.6v72.8
			c0,33-18.4,50.1-51.1,50.1C696,569.2,677.9,552.3,677.9,520.1z"/>
		<path class="st0" d="M797.8,446.4h27.4v99.5h49.2v21.5h-76.7V446.4z"/>
		<path class="st0" d="M917.8,446.4h35.7l39.3,121h-28.6l-8.3-26.9h-43.8l-8.3,26.9h-25.7L917.8,446.4z M918,521h32l-15.9-52.3
			L918,521z"/>
		<path class="st0" d="M990.4,507.6v-1.4c0-36.7,25.7-61.8,60.1-61.8c29.1,0,50.8,14.2,53.6,44H1076c-2-14.6-10.2-22.3-25.4-22.3
			c-19.1,0-31.3,14.9-31.3,39.9v1.4c0,25,11.5,39.6,31.5,39.6c15.1,0,25.6-7.6,27.8-23.2h26.9c-3,30-24.5,45.4-54.3,45.4
			C1011.6,569.2,990.4,544.9,990.4,507.6z"/>
		<path class="st0" d="M1118,446.4h27.6v121H1118V446.4z"/>
		<path class="st0" d="M1160,507.6v-1.4c0-36,26.4-61.6,62.3-61.6c36.4,0,62.3,24.5,62.3,60.9v1.4c0,36-24.7,62.3-62.4,62.3
			C1184.2,569.2,1160,543,1160,507.6z M1255.9,507.3v-1.4c0-23.5-12.5-39.6-33.7-39.6c-21,0-33.7,15.4-33.7,39.8v1.4
			c0,24.7,14.2,39.9,34,39.9C1243,547.4,1255.9,531.7,1255.9,507.3z M1220.5,414.7h26.6l-17.1,23.5h-18.4L1220.5,414.7z"/>
		<path class="st0" d="M1298.2,446.4h31.8l46,79.7v-79.7h24.4v121H1373l-50.4-86.1v86.1h-24.4V446.4z"/>
	</g>
	<g>
		<path class="st0" d="M1456.1,520.1v-73.8h27.6v72.1c0,20.1,5.9,28.9,22.5,28.9c16.2,0,23.4-7.8,23.4-30v-71.1h27.6v72.8
			c0,33-18.4,50.1-51.1,50.1C1474.2,569.2,1456.1,552.3,1456.1,520.1z"/>
		<path class="st0" d="M1570,507.6v-1.4c0-36.7,25.7-61.8,60.1-61.8c29.1,0,50.8,14.2,53.6,44h-28.1c-2-14.6-10.2-22.3-25.4-22.3
			c-19.1,0-31.3,14.9-31.3,39.9v1.4c0,25,11.5,39.6,31.5,39.6c15.1,0,25.6-7.6,27.8-23.2h26.9c-3,30-24.5,45.4-54.3,45.4
			C1591.1,569.2,1570,544.9,1570,507.6z"/>
	</g>
	<polygon class="st0" points="860,624.2 855.3,734.9 1546.2,742.5 1551.6,609.6 	"/>
	<g>
		<path class="st1" d="M891.5,666.2l-9.4,6.2v-9l10.7-7.6h9.2v46.4h-10.5V666.2z"/>
		<path class="st1" d="M918.8,666.2l-9.4,6.2v-9l10.7-7.6h9.2v46.4h-10.5V666.2z"/>
		<path class="st1" d="M965.3,655.8H979l15.1,46.4h-11l-3.2-10.3h-16.8l-3.2,10.3H950L965.3,655.8z M965.4,684.4h12.3l-6.1-20.1
			L965.4,684.4z"/>
		<path class="st1" d="M1000.1,655.8h10.5v38.2h18.9v8.2h-29.4V655.8z"/>
		<path class="st1" d="M1056.4,666.2l-9.4,6.2v-9l10.7-7.6h9.2v46.4h-10.5V666.2z"/>
		<path class="st1" d="M1074.6,688.4h9.7c0.6,3.9,2.1,6.5,7.5,6.5c4.7,0,7.3-3.3,7.3-8.2c0-5-2.9-8.1-7.5-8.1c-4.3,0-7,1.6-8.9,3.7
			h-5.8l0.6-26.4h29.4v8h-21.5l-0.2,11.6c1.8-2.2,5.1-4.3,10.3-4.3c8.4,0,14.2,5.8,14.2,15.6c0,9.9-7.1,16.2-17.8,16.2
			C1080.4,702.9,1075.1,696.7,1074.6,688.4z"/>
		<path class="st1" d="M1131,655.8h15.2c16.3,0,24.3,8.8,24.3,22.7v0.5c0,13.9-8.1,23.2-24.4,23.2H1131V655.8z M1145.8,694
			c9.3,0,13.8-5.3,13.8-14.9v-0.5c0-9.5-4.1-14.7-13.9-14.7h-4.2v30H1145.8z"/>
	</g>
	<g>
		<path class="st1" d="M1177.3,655.8h30.2v8.2h-19.8v10.8h15.8v7.7h-15.8V694h20.8v8.2h-31.3V655.8z"/>
	</g>
	<g>
		<path class="st1" d="M1229.4,655.8h29.8v8.2h-19.3v12.3h15.3v7.9h-15.3v18h-10.5V655.8z"/>
		<path class="st1" d="M1265.9,655.8h30.2v8.2h-19.8v10.8h15.8v7.7h-15.8V694h20.8v8.2h-31.3V655.8z"/>
		<path class="st1" d="M1304.2,655.8h18.2c10.1,0,15.4,4.2,15.4,12.1v0.3c0,4.9-2.3,8.4-7.5,9.9c6,1.2,9.3,4.7,9.3,10.9v0.3
			c0,8.5-5.6,13-16.3,13h-19.1V655.8z M1320.7,674.9c5.1,0,7.1-1.8,7.1-6v-0.3c0-3.9-2.2-5.6-7.1-5.6h-6.2v11.9H1320.7z
			 M1321.6,694.9c5.2,0,7.5-2.3,7.5-6.6v-0.3c0-4.3-2.3-6.5-8-6.5h-6.7v13.3H1321.6z"/>
		<path class="st1" d="M1346.6,655.8h16.6c11,0,17.9,4.5,17.9,14.1v0.3c0,7-4.1,10.7-9.5,12.3l12.3,19.7h-11.2l-11.1-17.9h-4.5v17.9
			h-10.5V655.8z M1362.9,677.1c5.3,0,7.9-2.2,7.9-6.7v-0.3c0-4.7-2.9-6.4-7.9-6.4h-5.9v13.3H1362.9z"/>
		<path class="st1" d="M1389.8,655.8h30.2v8.2h-19.8v10.8h15.8v7.7h-15.8V694h20.8v8.2h-31.3V655.8z"/>
		<path class="st1" d="M1428.1,655.8h16.6c11,0,17.9,4.5,17.9,14.1v0.3c0,7-4.1,10.7-9.5,12.3l12.3,19.7h-11.2l-11.1-17.9h-4.5v17.9
			h-10.5V655.8z M1444.5,677.1c5.3,0,7.9-2.2,7.9-6.7v-0.3c0-4.7-2.9-6.4-7.9-6.4h-5.9v13.3H1444.5z"/>
		<path class="st1" d="M1468.3,679.3v-0.5c0-13.8,10.1-23.6,23.9-23.6c14,0,23.9,9.4,23.9,23.4v0.5c0,13.8-9.5,23.9-23.9,23.9
			C1477.6,702.9,1468.3,692.8,1468.3,679.3z M1505.1,679.1v-0.5c0-9-4.8-15.2-12.9-15.2c-8,0-12.9,5.9-12.9,15.3v0.5
			c0,9.5,5.5,15.3,13,15.3C1500.2,694.5,1505.1,688.5,1505.1,679.1z"/>
	</g>
</g>
</svg>

			    
			</div>
			<div id="formulario" class="col-md-8 offset-md-2">
				<form id="formulario_registro" action="{{ path('login') }}" method="POST">
					{# <h2 class="h3 text-center">Iniciar sesión</h2>					 #}
					<div class="uc-form-group">
						<label for="nombre"><i class="uc-icon">account_circle</i> RUT (*)</label>
						<input id="nombre" name="_username" type="text" class="uc-input-style" placeholder="Sin puntos ni guion">
					</div>
					<div class="uc-form-group">
						<label for="apellidos"><i class="uc-icon">vpn_key</i> Contraseña (*)</label>
						<input id="apellidos" name="_password" type="password" class="uc-input-style">
						<small  class="form-text">Tu contraseña son los 4 primeros dígitos del RUT.</small>
					</div>
					<div class="col-md-12">						
						<a href="{{ path('formulario_registro') }}" class="link-inline">Registrarme</a>
					</div>
					<div class="text-right mb-2">
						<button class="uc-btn btn-primary btn-inline" style="cursor: pointer;">Ingresar <i class="uc-icon">login</i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}